{% extends 'base.html' %}

{% block content %}
{% comment %} <footer>
<h1>
    this is comment form
</h1>
</footer> {% endcomment %}

<section  id="comment-form">
        <h2>Comments</h2>
    <form action="{% url 'start_page' %}" method="POST">
    {% csrf_token %}
        {% for form_fields in comment_form %}
        <div class=" col-sm-2 col-form-label {% if form_fields.errors %}invalid{% endif %}">
            {{form_fields.label_tag}}
            {% comment %} {{form_fields}} {% endcomment %}
            {{form_fields.errors}}
        </div>
        {% endfor %}
        <div>
        <button class="btn btn-dark my-3">Send Comment🥰</button>
        
    </form>
</section>
{% endblock content %}