{% load static %}

<style>
  .header-bttn{
    font-size:22px;
    color:gray;
  }
  
  .header-bttn:hover{
    color:#494949;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand fw-bold"><img src="{% static 'logo.png' %}" width="64px" height="64px"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
    {% if request.user.is_authenticated %}

      <li class="nav-item active">
        <a class="nav-link fw-bold" style="font-size:24px" href="{% url 'home' %}">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link fw-bold" style="font-size:24px" href="{% url 'start_page' %}">Categories </a>
      </li>

      <li class="nav-item">
        <a class="nav-link fw-bold" style="font-size:24px" href="mailto:omkartikare55@gmail.com">Contact </a>
      </li>

    {% else %}
      <li class="nav-item">
        <a class="nav-link fw-bold" style="font-size:22px; margin-left:65rem" href="{% url 'login' %}">Log In</a>
      </li>

      <li class="nav-item">
        <a class="nav-link fw-bold" style="font-size:22px" href="{% url 'register' %}">Sign Up</a>
      </li>

    {% endif %}

    </ul>

    {% if request.user.is_authenticated %}

    <form class="form-inline my-2 my-lg-0" style="margin-left:29rem; display:flex;" method='get' action='/search'>

      <input class="form-control mr-sm-2" name="search" id="search" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" style="margin-left:8px" type="submit">Search</button>
      
    </form>
      


      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if request.user.is_authenticated %}
           <li class="nav-item dropdown mx-2">
              <a class="nav-link dropdown-toggle text-dark   fw-bold" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Welcome, {{request.user.username | capfirst}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                <li><a class="dropdown-item fw-bold" href="{% url 'wishlist' %}">Collections</a></li>
                <li><a class="dropdown-item fw-bold" href="{% url 'likelist' %}">Likes</a></li>
                <li><a class="dropdown-item fw-bold" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
            
          
            {% endif %}
          </ul>


    {% endif %}

  </div>
</nav>