{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand fw-bold " style="font-size:26px; color:black">Wallpapers point</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link fw-bold" style="font-size:24px" href="{% url 'home' %}">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link fw-bold" style="font-size:24px" href="mailto:omkartikare55@gmail.com">Mail Us </a>
      </li>

      <li class="nav-item">
        <a class="nav-link fw-bold" style="font-size:24px" href="{% url 'start_page' %}">All Categories </a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0" style="margin-left:450px; display:flex;" method='get' action='/search'>

      <input class="form-control mr-sm-2" name="search" id="search" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" style="margin-left:8px" type="submit">Search</button>
      
    </form>

  </div>
</nav>