
.all_sec{
    margin: 3rem auto;
    border-radius: 8px;
    width: 90%;
    max-width: 40rem;
    background-color: white;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.25);
}

.all_sec h2{
    margin: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 5px;
}

.all_sec button:hover{
    color: lightgreen;
    border-color: #ffa2b0;
}
.all_sec button{
    margin-left: 450px;
}

.ffields{
    max-width: 100%;
    margin-bottom: 1rem;
}

.ffields label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 20px;
    letter-spacing: 5px;
}

.ffields input,
.ffields textarea{
display: block;
width: 100%;
max-width: 100%;
padding: 0.25rem;
border-radius: 6px;
border: 1px solid #ccc;
}

#comm{
    margin: 3rem 0 0 320px;
    border-radius: 8px;
    width: 90%;
    max-width: 40rem;
    background-color: #ffffff;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.25);
}

#comm ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#comm li{
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #ccc;
}

#comm li:last-of-type{
    border-bottom: none;
}