#picture{    
    height: 300px;
    display: flex;
}

#picture2{
    max-width: 70%;
    width: 100%;
    display: flex;
}


#picture4{
    width: 100%;
    display: flex;
    justify-content: center;
}

.p1{
    border-radius: 10px;
    margin: 1.5rem;
    width: 50%;
    position: relative;
}


.p1:hover .p-category{
    opacity: 1;
}



.p2{
    position: relative;
    margin: 1.5rem;
    margin-left: 0;
    width: 50%;
}

.p2:hover .p-category,
.p3:hover .p-category,
.p4:hover .p-category,
.p5:hover .p-category,
.p6:hover .p-category,
.p7:hover .p-category,
.p8:hover .p-category,
.p9:hover .p-category,
.p10:hover .p-category{
    opacity: 1;
}

.p3{
    position: relative;
    padding: 0 1rem ;
    margin: 1.5rem;
    margin-left: 1.9rem;
    width: 70%;
}

.p4{
    position: relative;
    margin: 1.5rem;
    width: 30%;
    height:187%;
}

.p5{
    position: relative;
    margin: 1.5rem;
    width: 50%;
    height: 260px;
}

.p6{
    position: relative;
    margin: 1.5rem;
    width: 50%;
    height: 260px;
}

.p7{
    position: relative;
    max-width: 90%;
    width: 100%;
    height: 400px;
    margin-left: 3.5rem;
}

.p8{
    position: relative;
    margin: 1.5rem;
    width: 28%;
    height: 600px;
}

.p9{
    position: relative;
    margin: 1.5rem;
    width: 28%;
    height: 600px;
}

.p10{
    position: relative;
    margin: 1.5rem;
    width: 28%;
    height: 600px;
}

.p-category{
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease-in;
    font-size: 2rem;
    bottom: 0;
    right: 5%;
    color: white;
}

.p1 img,
.p2 img,
.p3 img,
.p4 img,
.p5 img,
.p6 img,
.p7 img,
.p8 img,
.p9 img,
.p10 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}