{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block content %}

    <section id="picture">

        <div class="p1">

            {% for n in filtered3D %}
                <a href="{% url 'wallCategories' %}?category={{n.category}}">
                    <img src="{{n.image.url}}" alt="{{n.title}}">
                    <h5 class="p-category">{{n.category}}</h5>
                </a>
            {%endfor%}

        </div>

        <div class="p2">
        
            {% for n in filteredanimal %}
                <a href="{% url 'wallCategories' %}?category={{n.category}}">
                    <img src="{{n.image.url}}" alt="{{n.title}}">
                    <h5 class="p-category">{{n.category}}</h5>
                </a>
            {%endfor%}

        </div>

    </section>

<section id="picture1">

    <div id="picture">

        <div class="p3">
            {% for n in filteredanime %}
                <a href="{% url 'wallCategories' %}?category={{n.category}}">
                    <img src="{{n.image.url}}" alt="{{n.title}}">
                    <h5 class="p-category">{{n.category}}</h5>
                </a>
            {%endfor%}
        </div>

        <div class="p4">
            {% for n in filteredcity %}
                <a href="{% url 'wallCategories' %}?category={{n.category}}">
                    <img src="{{n.image.url}}" alt="{{n.title}}">
                    <h5 class="p-category">{{n.category}}</h5>
                </a>
            {%endfor%}
        </div>

    </div>

    <div id="picture2">

        <div class="p5">
            {% for n in filteredfantasy %}
                <a href="{% url 'wallCategories' %}?category={{n.category}}">
                    <img src="{{n.image.url}}" alt="{{n.title}}">
                    <h5 class="p-category">{{n.category}}</h5>
                </a>
            {%endfor%}
        </div>

        <div class="p6">
            {% for n in filteredholidays %}
                <a href="{% url 'wallCategories' %}?category={{n.category}}">
                    <img src="{{n.image.url}}" alt="{{n.title}}">
                    <h5 class="p-category">{{n.category}}</h5>
                </a>
            {%endfor%}
        </div>

    </div>

</section>

<section id="picture3">

    <div class="p7">
        {% for n in filterednature %}
            <a href="{% url 'wallCategories' %}?category={{n.category}}">
                <img src="{{n.image.url}}" alt="{{n.title}}">
                <h5 class="p-category">{{n.category}}</h5>
            </a>
        {%endfor%}
    </div>
    
</section>

<section id="picture4">

    <div class="p8">
        {% for n in filteredcars %}
            <a href="{% url 'wallCategories' %}?category={{n.category}}">
                <img src="{{n.image.url}}" alt="{{n.title}}">
                <h5 class="p-category">{{n.category}}</h5>
            </a>
        {%endfor%}
    </div>

    <div class="p9">
        {% for n in filteredspace %}
            <a href="{% url 'wallCategories' %}?category={{n.category}}">
                <img src="{{n.image.url}}" alt="{{n.title}}">
                <h5 class="p-category">{{n.category}}</h5>
            </a>
        {%endfor%}
    </div>

    <div class="p10">
        {% for n in filteredart %}
            <a href="{% url 'wallCategories' %}?category={{n.category}}">
                <img src="{{n.image.url}}" alt="{{n.title}}">
                <h5 class="p-category">{{n.category}}</h5>
            </a>
        {%endfor%}
    </div>


</section>

{% endblock content %}