{% extends 'base.html' %}

{% block content %}



<div>
Categories
</div>

<div>


  <ul>
    <li>
      <a href="{%url 'start_page' %}">All</a>
    </li>
    {% for category in categories %}
    <li>
      <a href="{% url 'start_page' %}?category={{category.name}}">{{category.name}}</a>
    </li>
    {% endfor %}

  </ul>

 
</div>

{% for wallpaper in wallpapers %}
<div>
<img style="max-width:30%; max-height:30%;" src="{{wallpaper.image.url}}" alt="{{wallpaper.title}}">
<div>
  <small>Category: {{wallpaper.category.name}}</small>
</div>
<a href="{% url "detail" wallpaper.slug %}">View</a>
</div>
<div>
{% empty %}
  <h3>No Wallpapers Sorry😥</h3>
</div>
{% endfor %}



{% endblock content %}