{% extends 'base.html' %}
{% load static %}

<head>
{% block title %}Wallpapers Point{% endblock title %}

<style>
.image-thumbnail{
    height: 200px;
    object-fit:cover;
}
</style>
</head>

{% block content %}


<body class="m-5">
    <div class="container">
        <div class="row">
          <div class="col-md-3">
          
          <div class="card"> 
  <div class="card-header">
Categories
</div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a href="{% url 'start_page' %}">All</a>
    </li>
    {% for category in categories %}
    <li class="list-group-item">
      <a href="{% url 'start_page' %}?category={{category.name}}">{{category.name}}</a>
    </li>
    {% endfor %}

  </ul>

 
</div>

</div>
          <div class="col-md-9">
          <div class="row">

{% for wallpaper in wallpapers %}
<div class="col-md-4">

<div class="card my-2">
<img class="image-thumbnail" src="{{wallpaper.image.url}}" alt="{{wallpaper.title}}">
<div class="card-body">
  <small>Category: {{wallpaper.category.name}}</small>
</div>
<a href="{% url "detail" wallpaper.slug %}" class="btn btn-outline-dark btn-sm m-1">View</a>
</div>
</div>
{% empty %}
  <h3>No Wallpapers Sorry😥</h3>
{% endfor %}

</div>
</div>
{% comment %} </div>
</div> {% endcomment %}
</body>

{% comment %} {% include "wallpapers/includes/comment.html" %} {% endcomment %}

{% endblock content %}