{% extends 'base.html' %}

{% block title %}
  Login
{% endblock title %}

{% block content %}

<form method="post">
        {% csrf_token %}
        <div class="form-contain">
        {% for fm  in form %}
          
            <h4>{{fm.label_tag}}</h4> {{fm}} <small>{{fm.errors|striptags}}</small> <br>
          
        {% endfor %}
        </div>
        {% comment %} <small class="fp-class"><a href="">Forgot Password ?</a></small> {% endcomment %}
        <button class="login-btn"><input class="input-log" type="submit" value="Login"></button>
        <br>
        <br>
        <div class="account-div"><small>New to Wallpapers point? <a href="/register">Create an Account</a> </small></div>

        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <p class="">{{error}}</p>
          {% endfor %}
        {% endif %}
      </form>

{% endblock content %}