{% extends 'base.html' %}

{% block title %}
  Login
{% endblock title %}

{% block content %}

<form method="post" class="main-form">
        {% csrf_token %}
        <div class="form-labels">
        {% for fm  in form %}
              <h4>{{fm.label_tag}}</h4> {{fm}} 
            
            <small>{{fm.errors|striptags}}</small>
          
        {% endfor %}
        </div>
        
        <button class="login-btn"><input class="input-log" type="submit" value="Login"></button>
        
        <br>
        <br>
        <div class="account-div"><small>New to Wallpapers point? <a href="/register">Create an Account</a> </small></div>

        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <p class="error_msg">{{error}}</p>
          {% endfor %}
        {% endif %}
      </form>

{% endblock content %}