{% extends 'base.html' %}

    {% block title %}
        Registration
    {% endblock title %}

{% block content %}
    <div class="msgs">
                        
        {% if messages %}
            {% for message in messages %}
                <p {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</p>
            {% endfor %}

        {% endif %}
    </div>
    <form method="post" class="main-reg-form">
                    
        {% csrf_token %}

                    {% for fm in form %}

                        <div class="reg-form">
                            <h5>{{fm.label_tag}}</h5> 
                            
                            {{fm}}

                        </div>

                    {% endfor %}
                    <br class="reg-sub-btn">
                    <input type="submit" value="Submit" class="reg-sub-btn">
                    <br>

                    <div class="reg-form-EU">
                    <br>
                        <small>Existing User? <a href="/accounts/login/" class="cR-form-LN">Login</a></small>
                    </div>

                    {% if form.non_field_errors %}

                        {% for error in form.non_field_errors  %}
                            <p class="text">{{error}}</p>
                        {% endfor %}

                    {% endif %}
                </form>
{% endblock content %}