{% extends 'base.html' %}

{% block title %}{{wallpaper.title}}{% endblock title %}

{% block content %}

<section>
    <div class="main-section-container">
      <div class="main-wall-content">
        <h4>{{wallpaper.title}}</h4>
        
        <img src="{{wallpaper.image.url}}">
        <div class="main-wall-line-content">
            <div class="main-wall-line1">
                <h6>Artist: {{wallpaper.author}}</h6>
            </div>

            <div class="main-wall-line2">
                <div class="like_btn">
                    {% if liked %}
                        <a href="{% url 'likelist_add' wallpaper.slug %}" class="like_btn"><i class="fas fa-thumbs-up"></i> Liked </a>
                    {% else %}
                        <a href="{% url 'likelist_add' wallpaper.slug %}"><span><i class="far fa-thumbs-up"></i>Like</span></a>
                    {% endif %}
                </div>

              

                {% if fav %}
                    <a href="{% url 'wishlist_add' wallpaper.slug %}"><span class="plus"><i class="fas fa-plus-square"></i>Remove</span></a>
                {% else %}
                    <a href="{% url 'wishlist_add' wallpaper.slug %}"><span class="plus"><i class="fas fa-plus-square"></i>Save Later</span></a>
                {% endif %}
            </div>

        </div>
            <div class="main-wall-tags">
                {% for tag in tags %}
                    <button><a href="{% url 'tags' %}?tag={{tag.caption}}">{{ tag.caption }}</a></button>
                {% endfor %}
            </div>

            <button class="bttn"><a href="{{wallpaper.image.url}}" class="bttn-link" download onclick="clicked()" >Download</a></button>
      </div>

        <div class="side-wall-content">
            <h4>Top Pick</h4>
            <div class="side-content">
                {% for swI in swImg %}
                    <a href="{% url "detail" swI.slug %}"><img src="{{swI.image.url}}"></a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section>
    <div class="sub-main-content">
        <h3>Related Images</h3>
        <div class="sub-content">
            {% for swI in swImgLoop %}
                <div class="content">
                <a href="{% url 'detail' swI.slug %}"><img src="{{swI.image.url}}"></a></div>
            {% endfor %}
        </div>
    </div>
</section>
            
{% endblock content %}


{% block script %}
  function clicked(){
    alert("Thank you for downloading from our website")
  }
{% endblock script %}