{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="col-md-9 " style="margin:0 auto;">
    <div class="row">

      {% for wall in wallpapers %}
        <div class="col-md-4">

          <div class="card my-2">

            <img class="image-thumbnail" src="{{wall.image.url}}" alt="{{wall.title}}">
            
              <div class="card-body">

                <small>Category: {{wall.category.name}}</small>
                  <div>
                    <small>Artist: {{wall.author}}</small>
                  </div>

              </div>

              <a href="{% url "detail" wall.slug %}" class="btn btn-outline-dark btn-sm m-1">View</a>

          </div>

        </div>

        {% empty %}
        <h3>No Wallpapers Sorry😥</h3>

      {% endfor %}

    </div>
  </div>

{% endblock  %}